<div class="car">
    <carousel class="car"
        [images]="images"
        [cellWidth]="'100%'"
        [autoplay]="true"
        [dots]="true" 
        [loop]="true"
        [autoplayInterval] = 5000 
        [height]= 400
        objectFit="contain"

        >
    </carousel>
</div>

<div class="container">
    <!-- 
    <div class="top-categories mt-5">
        <vsf-collection-card *ngFor="let collection of collections$ | async"
                             [collection]="collection">
        </vsf-collection-card>
    </div>
    -->
    <h3 class="display-4 mt-5">Productos Destacados</h3>
    <div class="product-list">
        <ng-container *ngIf="topSellersLoaded$ | async; else placeholders">
            <vsf-product-card *ngFor="let product of topSellers$ | async" [product]="product"></vsf-product-card>
        </ng-container>
        <ng-template #placeholders>
            <vsf-product-card *ngFor="let product of placeholderProducts" [product]="product"></vsf-product-card>
        </ng-template>  
    </div>
</div>