.frente{
    z-index: 500;
}
    .waicon{
        color:rgb(79, 221, 60);
    }
    
    .fbicon{
        color:rgb(32, 76, 219);
    }
    
    .mssicon{
        color:#0084ff;
    }
    .instaicon {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    
      .paypalicon{
        color:#00457C;
    }
    .navbar-toggler-icon {
        z-index: 500;
    }