<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo frente">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="/information">Información<span class="sr-only">(current)</span></a>
          </li>

          <!--  
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Información<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#quienes-somos"> ¿Quienes somos?</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#ubicacion"> Ubicación </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#envio"> Acerca del Envío</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#pago"> Formas de pago </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#garantia"> Garantía </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#asesoria"> Asesoría Gratis</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="/information#seguridad"> Seguridad </a>
                
              </div>
          </li>
          -->



            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Productos<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/laptops">Laptops</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/computadoras">De Escritorio</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/minilaptops">Minilaptops</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/todo-en-uno">Todo en Uno </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/repuestos">Repuestos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/productos-miscelaneos">Productos Miscelaneos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/combos">Combos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/category/gangas">GANGAS 50% De Descuento</a>
                </div>
            </li>

            <li class="nav-item"  (click)="goToBottom()" >
                <a class="nav-link waves-light" mdbWavesEffect>Contacto</a>
            </li>

        </ul>
        <!-- Links -->

<!-- Search form 
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>-->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link" (click)='goToLink("https://www.facebook.com/Compus4Less-105816418015099")' target="_blank">
                <mdb-icon class="fbicon" fab icon="facebook" size="2x"></mdb-icon>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  (click)='goToLink("https://wa.me/50259996545")' target="_blank">
                  <mdb-icon class="waicon"  fab icon="whatsapp" size="2x"></mdb-icon>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" (click)='goToLink("https://m.me/105816418015099")' target="_blank">
                  <mdb-icon  class="mssicon"  fab icon="facebook-messenger" size="2x"></mdb-icon>
                </a>
              </li>
            <li class="nav-item"  (click)='goToLink("https://www.instagram.com/")' target="_blank">
              <a class="nav-link">
                <mdb-icon class="instaicon" fab icon="instagram" size="2x"></mdb-icon>
              </a>
            </li>
            <li class="nav-item"  (click)='goToLink("https://paypal.me/compus4less?country.x=US&locale.x=en_US")' target="_blank">
              <a class="nav-link">
                <mdb-icon class="paypalicon" fab icon="cc-paypal" size="2x"></mdb-icon>
              </a>
            </li>
            
          </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->