<div class="row justify-content-around">
    <div class="card col-md-5">
        <div class="card-body">
            <h5 class="card-title">Cambiar contraseña</h5>
            <form #passwordForm="ngForm">
                <div class="form-group">
                    <label for="currentPassword">Contraseña actual</label>
                    <input class="form-control" [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Contraseña Nueva</label>
                    <input class="form-control" [(ngModel)]="newPassword" name="newPassword" type="password" required>
                </div>
            </form>
            <button class="btn btn-secondary mt-3"
                    [disabled]="passwordForm.invalid || passwordForm.pristine"
                    (click)="changePassword()">Guardar Contraseña</button>
        </div>
    </div>
    <div class="card col-md-5">
        <div class="card-body">
            <h5 class="card-title">Cambiar correo electrónico</h5>
            <ng-container *ngIf="!changeEmailAddressMessage">
                <form #emailForm="ngForm">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input class="form-control" [(ngModel)]="password" name="password" type="password" required>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Nuevo Correo Electrónico</label>
                        <input class="form-control" [(ngModel)]="emailAddress" name="emailAddress" required>
                    </div>
                </form>
                <button class="btn btn-secondary mt-3"
                        [disabled]="emailForm.invalid || emailForm.pristine"
                        (click)="changeEmailAddress()">Verificar correo electrónico</button>
            </ng-container>
            <ng-container *ngIf="changeEmailAddressMessage">
                <div class="alert alert-primary" role="alert">
                  {{ changeEmailAddressMessage }}
                </div>
            </ng-container>
        </div>
    </div>
</div>
