
<vsf-layout>
    <vsf-layout-header>
        <div class="header">
            <div class="container">
            <!--    <vsf-mobile-menu-toggle></vsf-mobile-menu-toggle> -->

                <a [routerLink]="['/']" class="logo-link d-none d-md-inline-block ">
                    <img src="assets/icons/icon-144x144.png" class="logo" alt="Vendure Storefront">
                </a>
                <div class="d-sm-block pagetitle"></div>
                <vsf-product-search-bar class="flex-grow-1"></vsf-product-search-bar>
                <vsf-account-link class="mr-2"></vsf-account-link>
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>
            </div>
            <vsf-alternative-menu></vsf-alternative-menu>
            
        
            <!--  vsf-collections-menu></vsf-collections-menu> -->
        </div>
    </vsf-layout-header>
    <vsf-collections-menu-mobile [visible]="mobileNavVisible$ | async"></vsf-collections-menu-mobile>
    <vsf-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></vsf-cart-drawer>
    <div>
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
                <router-outlet></router-outlet>
        </ng-template>
    </div>

    <vsf-layout-footer>
        <div class="row text-muted mt-5 mb-5">
            <div class="col-md-3 text-center text-md-left">
                <h3>Información</h3>
                <ul class="list-unstyled">
                    
                    <li ><a href = "/information#quienes-somos">
                        Nosotros
                    </a></li>

                    <li ><a href = "/information#ubicacion">
                        Ubicación
                    </a></li>

                    <li ><a href = "/information#envio">
                        Acerca del envío
                    </a></li>

                    <li ><a href = "/information#pago">
                        Formas de Pago
                    </a></li>

                    <li ><a href = "/information#asesoria">
                        Asesoría
                    </a></li>

                    <li ><a href = "/information#garantia">
                        Garantía y Soporte Técnico
                    </a></li>

                    <li ><a href = "/information#seguridad">
                        Seguridad
                    </a></li>
                </ul>
            </div>
            <div class="col-md-3 text-center text-md-left">
                <h3>Ubicación </h3>
                <ul class="list-unstyled">
                    <li>10 avenida 13-58 Edificio Duarte Zona 1 Guatemala C.A.</li>
                </ul>
                <h3> Teléfonos de Ventas</h3>
                <ul class="list-unstyled">
                    <li>+1 (502) 5999-6545 </li>
                    <li>+1 (502) 5999-4252</li>
                    <li>+1 (502) 5999-8626</li>
                </ul>
                <h3> Teléfono Gerencia</h3>
                <ul class="list-unstyled">
                    <li>+1 (502) 3589-8686   <fa-icon class="waicon" size="1x" [icon]="['fab', 'whatsapp']"></fa-icon> </li>
                </ul>

            </div>
            
            <div class="col-md-3 text-md-left" id="contact">
                <h3>Contáctanos</h3>
                <div class="social d-flex justify-content-around">
                    <a (click)='goToLink("https://www.facebook.com/Compus4Less-105816418015099")'>
                        <fa-icon class="fbicon" size="4x" [icon]="['fab', 'facebook']"></fa-icon>
                    </a>
                    <a (click)='goToLink("https://wa.me/50259996545")'>
                        <fa-icon class="waicon" size="4x" [icon]="['fab', 'whatsapp']"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <vsf-formulario> </vsf-formulario>

    </vsf-layout-footer>
</vsf-layout>
