<vsf-layout>
    <vsf-layout-header>
        <div class="header">
            <div class="container">
                <vsf-mobile-menu-toggle></vsf-mobile-menu-toggle>
                <a [routerLink]="['/']" class="logo-link d-none d-md-inline-block ">
                    <img src="assets/icons/icon-144x144.png" class="logo" alt="Vendure Storefront">
                </a>
                <div class="d-sm-block pagetitle"></div>
                <vsf-product-search-bar class="flex-grow-1"></vsf-product-search-bar>
                <vsf-account-link class="mr-2"></vsf-account-link>
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>
            </div>
            <vsf-collections-menu></vsf-collections-menu>
        </div>
    </vsf-layout-header>
    <vsf-collections-menu-mobile [visible]="mobileNavVisible$ | async"></vsf-collections-menu-mobile>
    <vsf-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></vsf-cart-drawer>
    
    <div class="contents">
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
                <router-outlet></router-outlet>
        </ng-template>
    </div>

    <vsf-layout-footer>
        <div class="row text-muted mt-5 mb-5">
            <div class="col-md-3 text-center text-md-left">
                <h3>Ordenes</h3>
                <ul class="list-unstyled">
                    <li>Envíos</li>
                    <li>Términos y Condiciones</li>
                </ul>
            </div>
            <div class="col-md-3 text-center text-md-left">
                <h3>Información</h3>
                <ul class="list-unstyled">
                    
                    <li ><a href = "https://www.compus4less.com/information#quienes-somos">
                        Nosotros
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#ubicacion">
                        Ubicación
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#envio">
                        Acerca del envío
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#pago">
                        Formas de Pago
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#asesoria">
                        Asesoría
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#garantia">
                        Garantía y Soporte Técnico
                    </a></li>

                    <li ><a href = "https://www.compus4less.com/information#seguridad">
                        Seguridad
                    </a></li>
                </ul>
            </div>
            <div class="col">
                <div class="social d-flex justify-content-around">
                    <fa-icon size="2x" [icon]="['fab', 'facebook']"></fa-icon>
                </div>
                
            </div>
        </div>
        
    </vsf-layout-footer>

</vsf-layout>
