/*#ffeb3b rgba(255, 228, 106, 0.945)*/
.header {
    background-color: #ffeb3b;
    border-bottom: 1px solid #e9ecef;

    > .container {
        display: flex;
        align-items: center;
        padding: 6px;
    }
}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
        max-height: 100px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}

.waicon{
    color:rgb(79, 221, 60);
}

.fbicon{
    color:rgb(32, 76, 219);
}
