<div class="info" id="quienes-somos">
    <div class="title">
        <h2>
            <br/><strong>¿Quiénes Somos?</strong>
        </h2>
    </div>
    <div class="txt">
        <p>
            <br/>Somos una empresa con más de 15 años de experiencia en informática, nuestra meta es hacer accesible la tecnología a todo el pueblo Guatemalteco, pero muy especialmente aquellos de escasos recursos económicos, nuestro compromiso es brindarle a nuestros clientes los mejores precios posibles con productos de alta calidad y durabilidad, y nuestra promesa es brindarle el mejor de los servicios y asesoría posible todos los días.
        </p>
    </div>
</div>


<div class="info" id="ubicacion">
    <div class="title" >
        <h2 >
            <br /><br /><strong>Ubicación</strong>
        </h2>
    </div>
    <div class="txt">
        <p>
        <br/>
        Nos encontramos en la  10 avenida 13-58 Edificio Duarte zona 1, Ciudad de Guatemala, Guatemala.
        </p>
    </div>
</div>

<div class="info" id="envio">
    <div class="title" >
        <h2>
            <br /><br /><strong>Acerca del envío</strong>
        </h2>
       
    </div>

    <div class="txt">        
        <p> Contamos con envío GRATIS a domicilio a toda la Republica de Guatemala vía Cargo Expreso con previo depósito bancario. Pago Contra Entrega Disponible (aplica recargo de Q100). </p>
        <img src="assets/info/envio.webp" class="image" height="200" width="200"  border="1px">  
    </div>
</div>

<div class="info" id="pago">
    <div class="title" >
        <h2 >
            <br /><br /><strong> Formas de Pago </strong>
        </h2>
    </div>
    <div class="txt">
        <p >
            <br />Aceptamos pago contado, depósito o transferencia bancaria y todas las tarjetas de crédito únicamente vía PayPal, (sino sabe que es Paypal favor consultar a su asesor de ventas) no contamos con visa cuotas. También contamos con la posibilidad de reservar su producto de la siguiente manera:
        </p>
        <ul>
            <li>
                Puede reservar el producto que le interese  por 30 días sin ningún   recargo adicional adelantando únicamente  el 25% del valor del producto y  tiene 30 días para terminar de cancelarlo.
            </li>
            <li>
                Puede reservarlo durante 60 días, sin embargo se le aplicará el 10% de recargo al valor del producto y  hasta un  máximo de 90 días con el 15% de recargo del valor del  producto.  Puede reservar el producto que le interese  por 30 días sin ningún  recargo adicional adelantando únicamente  el 25% del valor del producto y  tiene 30 días para terminar de cancelarlo.
            </li>
        </ul>
        <p class="image"><img src="assets/info/pago.webp" class="image" height="200" width="200" border="1px"></p>
    
    </div>    
</div>

<div class="info" id="asesoria">
    <div class="title" >
        <h2 >
            <br /><br /><strong>Asesoría</strong>
        </h2>
    </div>
    <div class="txt">
        <p>
        <br/>
        Si no sabe o no está seguro de lo que necesita, no se preocupe solo pregúntenos y nosotros con mucho gusto lo asesoraremos para que pueda comprar algo que en realidad le va a servir de acuerdo a su presupuesto. 
        </p>
        <p class="image"><img src="assets/info/asesoria.webp" class="image" height="200" width="200" border="1px"></p>

    </div>
</div>

<div class="info" id="garantia">
    <div class="title" >
        <h2 >
            <br /><br /><strong>Garantía y Soporte técnico </strong>
        </h2>
    </div>
    <div class="txt">
        <p>
            <br/>Nuestros productos van revisados y preparados para durarle años y no meses, ya que nuestro departamento técnico no permite que salgan a la venta si no están funcionando al 100%. Hasta el momento contamos con un 100% de clientes satisfechos.
            Ofrecemos 30 días GRATIS de garantía REAL en todos nuestros productos en  lo que es pantalla, disco duro y procesador, siempre y cuando el daño  no haya sido provocado por negligencia o mal uso del comprador. Garantía  disponible para 90 días (aplica recargo del 15% del valor del producto). Garantía disponible para 180 días (aplica recargo del 30% del  valor del producto).        
        </p>
        
        <p class="image"><img src="assets/info/soporte.png" class="image" height="200" width="200" border="1px"></p>
    </div>
</div>

<div class="info" id="seguridad">
    <div class="title">
        <h2>
            <br/><br /><strong>Seguridad </strong>
        </h2>
    </div>
    
    <div class="txt">
        <p>
            <br/> Contamos con seguridad para que pueda hacer su compra con toda tranquilidad.
        </p>

        <p class="image"><img src="assets/info/seguridad.webp" class="image" height="200" width="200" border="1px"></p>
    </div>

</div>

