@import "variables";

:host {
    display: block;
}

.header {
}

.content {
    min-height: 50vh;
}

.footer {
    background-color: $gray-200;
    margin-top: $spacer * 3;
    padding: $spacer * 3 0;
}
